#greeting {
    color: palevioletred;
    font-family: 'Share Tech', sans-serif;
    font-size: 185%;
}

#score {
    color: lightseagreen;
    font-family: 'Share Tech', sans-serif;
    font-size: 185%;
}

/* I know I repeated this :/ */
#title {
    color: lightseagreen;
    font-family: 'Share Tech', sans-serif;
    font-size: 200%;
}

